$font-stack: 'Varela Round', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$primary-color: #000;

$blue: #5CBFCB;
$purple: #59358C;
$pink: #A4257B;
$green: #96BD0D;
$red: #CE2126;
$turq: #008083;

$darkgrey: #515861;
$lightgrey: #99A0A9;

body {
  font: 100% $font-stack;
  padding: 60px;
  color: $primary-color;
}

.navbar {
	background-color: black;
}
.navbar-right {
	font-size: 12px;
}

.logo-image {
	margin-top: 10px;
	width: 32px;
	height: 32px;
}

footer {
	position: absolute;
	width: 100%;
	height: 30px;
	padding: 10px;
	margin-top: 60px;
	color: white;
	text-align: center;
	font-size: 11px;
	left: 0;
	bottom: 0;
	background-color: $lightgrey;
	border-top: 1px solid black;
}